<mat-toolbar color="primary">
  <a>{{ title }}</a>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/" routerLinkActive="mat-accent">Posts</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">Create post</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-stroked-button class="login-button" color="accent" routerLink="/login">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-flat-button routerLink="/signup" color="accent">Sign Up</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-stroked-button class="login-button" color="accent" (click)="onLogout()" >Logout</button>
    </li>
  </ul>
</mat-toolbar>
