<mat-card class="error-card" *ngIf="authErr">
  <a>{{ errMsg }}</a>
</mat-card>
<mat-card>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
    <mat-form-field>
      <input
        matInput
        name="email"
        ngModel
        type="email"
        placeholder="E-mail"
        #emailInput="ngModel"
        required
        email
      />
      <mat-error *ngIf="emailInput.invalid"
        >Entre com um email válido!</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        matInput
        ngModel
        name="password"
        required
        placeholder="Password"
        #passwordInput="ngModel"
      />
      <mat-error *ngIf="passwordInput.invalid">Campo Obrigatório!</mat-error>
    </mat-form-field>
    <div>
      <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">
        Log In
      </button>
      <div class="div-mat-spinner">
        <mat-spinner diameter="20" *ngIf="isLoading"></mat-spinner>
      </div>
    </div>
  </form>
</mat-card>
