:host {
  display: block;
  margin-top: 1rem;
}

mat-paginator {
  margin-top: 5px;
}

mat-expansion-panel {
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
  margin-top: 100px;
}

.info-text {
  text-align: center;
  color: #ff4081;
}

.post-image {
  width: 100%;
  margin-bottom: 20px;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
