<mat-card>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="title"  placeholder="Post title"/>
      <mat-error *ngIf="form.get('title').invalid">{{ errorMsg }}</mat-error>
    </mat-form-field>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title" />
    </div>
    <div class="image-preview-no-img" *ngIf="imagePreview === '' || !imagePreview ">
      <img src="https://img.icons8.com/clouds/100/000000/no-image.png"/>
      <mat-error *ngIf="!existImg">{{ imgErrorMsg }}</mat-error>
    </div>
    <mat-form-field>
      <textarea  matInput  rows="3" placeholder="Something you'd like to post here"  formControlName="content"
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid">{{ errorMsg }}</mat-error>
    </mat-form-field>
    <div class="save-button-container">
      <input type="file" #filePicker (change)="onImagePick($event)" />
      <button mat-stroked-button type="button" (click)="filePicker.click()">
        Pick Image
      </button>
      <button mat-raised-button color="accent" type="submit"  *ngIf="mode == 'CREATE'">
        Save Post
      </button>
      <button mat-raised-button color="accent" type="submit"  *ngIf="mode == 'EDIT'">
        Update Post
      </button>
    </div>
  </form>
</mat-card>
